{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <!-- Cart Items Detail -->
    <div class="container mt-5 table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            {% for order in cart %}
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="{{ order.product.image.url }}" alt="">
                            <div>
                                <p>{{ order.product.name }}</p>
                                <small>Price: {{ order.product.price }}</small>
                                <br>
                                <a href="{% url 'delete_cart' order.id %}" onclick="return confirm('Remove the item from your cart?');">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" class="form-control small-input" value="{{ order.quantity }}" min="1"></td>
                    <td>${{ order.amount }}</td>
                </tr>
            {% endfor %}

        </table>

        <div class="total-price">
            <table class="table table-borderless align-self-end">
                <tr>
                    <td>Subtotal</td>
                    <td>${{ sub_total }}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$20.00</td>
                </tr>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>${{ total}}</td>
                    </tr>
               </tfoot>
            </table>
        </div>
        <div class="mb-5">
            <a class="btn btn-dark float-end" href="{% url 'order' %}">Make Payment</a>
        </div>
    </div>
{% endblock content %}








