{% extends "store/base.html" %}
{% load static %}

{% block content %}
    <!-- <h1>This is the updated index page for store!</h1>
    {% for product in products %}
        <img src="{{ product.image.url }}" alt="">
        <h4>Name: {{ product.name }}</h4>
        <a href="{% url 'review-product' product.id %}">{{ product.review_set.count }} review{{ product.review_set.count|pluralize }}</a>
        <p>Price: {{ product.price }}</p>
        <p>Date added: {{ product.date_added|date:"F d, Y" }}</p>
    {% endfor %} -->
    
    <div class="container-fluid text-center pt-5">
        <div class="row showcase">
            <div class="col-sm pt-5">
            <h1 class="fw-normal">Trendy Products For Your Furry Friend</h1>
                <p>We offer the most exciting and unique pet products on the market today ranging from clothes, beds, leashes, and many more!
                What we really are proud of is being able to give back to those without voices of their own.</p>
                <a href="" class="btn btn-dark">Learn More</a>
            </div>
            <div class="col">
                <img src="{% static 'store/images/showcase.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <!-- Featured Products -->
    <div class="container mb-5">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for product in latest_products %}
                <div class="col-sm products">
                    <img src="{{ product.image.url }}" class="img-thumbnail" alt="">
                    <h5>{{ product.name }}</h5>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div>
                    <p>${{ product.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pre Order -->
    <div class="container-fluid">
        <div class="row offer">
            <div class="col-sm">
                <img src="{% static 'store/images/hammock.png' %}" class="img-fluid p-5" alt="">
            </div>
            <div class="col pt-5">
                <p>Exclusively Available On Pre-Order</p>
                <h1>Smart Brand 4</h1>
                <p>This is Lorem ipsum dolor sit amet consectetur inventore eaque, voluptates perspiciatis q</p>
                <a href="" class="btn btn-dark">Pre-Order Now</a>
            </div>
        </div>
    </div>


    <!-- Testimonial -->
        <div class="container pt-5">
            <div class="row justify-content-evenly">
                <div class="col-3 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem sint eius dolore a numquam cum nulla, officia quasi iste similique quos expedita inventore maxime debitis suscipit asperiores totam tenetur.</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src="{% static 'store/images/user-1.png' %}" alt="">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem sint eius dolore a numquam cum nulla, officia quasi iste similique quos expedita inventore maxime debitis suscipit asperiores totam tenetur.</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src="{% static 'store/images/user-2.png' %}" alt="">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3 testimonial">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem sint eius dolore a numquam cum nulla, officia quasi iste similique quos expedita inventore maxime debitis suscipit asperiores totam tenetur.</p>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src="{% static 'store/images/user-3.png' %}" alt="">
                    <h3>Sean Parker</h3>
                </div>
            </div>
        </div>

    <!-- Brands -->
    <!-- <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'store/images/logo-godrej.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'store/images/logo-oppo.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'store/images/logo-coca-cola.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'store/images/logo-paypal.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'store/images/logo-philips.png' %}" alt="">
                </div>
            </div>
        </div>
    </div> -->
{% endblock content %}

