<!-- {% extends 'store/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row p-3">
        <div class="col">
            <h3>Shipping Info</h3>
            <form action="{% url 'order' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-dark mt-3" value="Proceed to Payment">
            </form>
           
        </div>
        <div class="col">
            <h3>Payment Info</h3>
        </div>
    </div>
</div>
{% endblock content %} -->