{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <!-- <img src="{{ object.image.url }}" alt="">
    <h4>Name: {{ object.name }}</h4>
    <p>Price: {{ object.price }}</p>
    <p>Date added: {{ object.date_added|date:"F d, Y" }}</p>
    <a href="{% url 'review-new' object.id %}">Write a review</a>
    {% for review in reviews %}
        <p>{{ review }} - {{ review.reviewer }} {{ review.date_added }}</p>
        {% if review.reviewer == user %}
            <a class="btn btn-secondary" href="{% url 'review-update' review.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'review-delete' review.id %}">Delete</a>
        {% endif %}
    {% endfor %} -->
    

    <!-- Single Product Detail -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'store/images/gallery-1.jpg' %}" id="product-img" alt="">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{% static 'store/images/gallery-1.jpg' %}" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'store/images/gallery-2.jpg' %}" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'store/images/gallery-3.jpg' %}" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static 'store/images/gallery-4.jpg' %}" class="small-img" alt="">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>Red Printed T-Shirt by HRX</h1>
                <h4>$50.00</h4>
                <select name="" id="">
                    <option value="">Select Size</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit facilis, corrupti nostrum repudiandae numquam architecto expedita incidunt sed similique explicabo provident placeat aperiam commodi maxime quas sequi! Excepturi, doloribus mollitia?</p>
            </div>
        </div>
    </div>



    <!-- Title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>

    
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'store/images/product-1.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-2.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-3.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-4.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$50</p>
            </div>
        </div>

    </div>

{% endblock content %}








