{% extends "store/base.html" %}
{% load static %}
{% block content %}

    <!-- Single Product Detail -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ product.image.url }}" id="product-img" alt="">

                <div class="small-img-row">
                    {% for product_image in product.images_set.all %}
                        <div class="small-img-col">
                            <img src="{{ product_image.image.url }}" class="small-img" alt="">
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>{{ product.name }}</h1>
                <h4>${{ product.price }}</h4>
                <select name="" id="">
                    <option value="">Select Size</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                    <option value="">XXL</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{ product.description|safe }}</p>
            </div>
        </div>
    </div>


    <!-- Review -->
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <div class="customer-reviews">
                    <!-- <p><i class="fas fa-user"></i> John</p> -->
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>    
                    </div>
                    <div class="review-head">
                        <b>Amaxing!</b> 
                    </div>
                    
                    <div class="review-body">
                        <p>This sucks! akjdhkasjdhasjkdhaskjdhakjsh</p>
                    </div>
                    
                    <div class="review-footer">
                        John, June 5, 2021
                    </div>
                </div>

                <div class="customer-reviews">
                    <!-- <p><i class="fas fa-user"></i> John</p> -->
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>    
                    </div>
                    <div class="review-head">
                        <b>Amaxing!</b> 
                    </div>
                    
                    <div class="review-body">
                        <p>This sucks! akjdhkasjdhasjkdhaskjdhakjsh</p>
                    </div>
                    
                    <div class="review-footer">
                        John, June 5, 2021
                    </div>
                </div>

            </div>

            <div class="col-2">
                <h3>Write a review</h3>
                <form class="review-form" action="">
                    <input name="subject" type="text" placeholder="Subject">
                    <textarea name="review" id="" cols="30" rows="10" placeholder="Write a review"></textarea>
                    <div class="input-rating">
                        <strong class="text-uppercase">Your Rating: </strong>
                        <div class="stars">
                            <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                            <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                            <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                            <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <button type="submit" class="btn">Submit</button>
                    {% else %}
                        <a href="{% url 'login' %}">You must be logged in to write a review.</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <!-- Title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>

    
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'store/images/product-1.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-2.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-3.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="{% static 'store/images/product-4.jpg' %}" alt="">
                <h4>Rd Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$50</p>
            </div>
        </div>

    </div>

{% endblock content %}








