{% extends "store/base.html" %}
{% load static %}
{% block content %}
    
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h2>All Products</h2>
            </div>
            <!-- <div class="col">
                <select name="" id="">
                    <option value="">Default Sorting</option>
                    <option value="">Sort by price</option>
                    <option value="">Sort by popularity</option>
                    <option value="">Sort by rating</option>
                    <option value="">Sort by sale</option>
                </select>
            </div> -->
        </div>

        <div class="row products-link">
            {% for product in products %}
            <a href="{% url 'product' product.id %}" class="col-sm col-md-4 col-lg-3 products">
                    <img src="{{ product.image.url }}" class="img-thumbnail" alt="">
                    <h5>{{ product.name }}</h5>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div>
                    <p>${{ product.price }}</p>
            </a>
            {% endfor %}
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>

{% endblock content %}