{% extends "store/base.html" %}
{% load static %}
{% block content %}
    
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select name="" id="">
                <option value="">Default Sorting</option>
                <option value="">Sort by price</option>
                <option value="">Sort by popularity</option>
                <option value="">Sort by rating</option>
                <option value="">Sort by sale</option>
            </select>
        </div>
        <!-- <h2 class="title">Featured Products</h2> -->
        <div class="row">
            {% for product in products %}
                <div class="col-4">
                    <img src="{% static 'store/images/product-1.jpg' %}" alt="">
                    <h4>Rd Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <i class="far fa-star" aria-hidden="true"></i>
                    </div>
                    <p>$50</p>
                </div>
            {% endfor %}
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>

{% endblock content %}