{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'store/images/image1.png' %}" alt="" width="100%">
                </div>

                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="indicator"> 
                        </div>

                        <form id="login-form" action="{% url 'user-login' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="btn">Login</button>
                            <a href="">Forgot password</a>
                        </form>

                        <form id="reg-form" action="">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username">
                            <input type="email" placeholder="Email">
                            <button type="submit" class="btn">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Toggle Form
        var loginForm = document.getElementById("login-form");
        var regForm = document.getElementById("reg-form");
        var indicator = document.getElementById("indicator");

        function register() {
            regForm.style.transform = "translateX(0px)";
            loginForm.style.transform = "translateX(0px)";
            indicator.style.transform = "translateX(100px)";
        }

        function login() {
            regForm.style.transform = "translateX(300px)";
            loginForm.style.transform = "translateX(300px)";
            indicator.style.transform = "translateX(0px)";
        }
    </script>
    
{% endblock content %}
